################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/node_modules
/StoreControl/bin/Debug/netcoreapp2.0
/.vs/StoreControl/v15/Server/sqlite3
/StoreControl/obj
/StoreControl.Infrastructure/bin/Debug/netcoreapp2.0
/StoreControl.Infrastructure/obj
/StoreControl.Shared/bin/Debug/netcoreapp2.0
/StoreControl.Shared/obj
