<h3>Search</h3>

<input type="text" [(ngModel)]="filter" (input)="search()">

<div *ngIf="customerAccounts">
    <div class="col-12" style="overflow-x: auto;">
        <table>
            <thead>
                <td>
                    Name
                </td>
                <td>
                    CPF
                </td>
            </thead>
            <tbody>
                <tr *ngFor="let customerAccount of customerAccounts">
                    <td>
                        {{customerAccount.Name}}
                    </td>
                    <td>
                        {{customerAccount.CPF | cpfFormat}}
                    </td>
                    <td class="last">
                        <a class="btn" routerLink="../edit/{{customerAccount.ID}}">Update</a>
                    </td>
                    <td class="last">
                            <a class="btn red" routerLink="../delete/{{customerAccount.ID}}">Delete</a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
<div *ngIf="!customerAccounts">
    <h3>Use the field to search the records</h3>
</div>